* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nombreTienda {
  font-style: normal;
  text-align: center;
  padding: 1.25rem 0 1.25rem 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  background: linear-gradient(to top, #888888 25%, black);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.contenedorNav {
  display: flex;
  margin-top: 2rem;
  background-color: rgb(155, 155, 155);
  width: 80%;
  height: 3rem;
  border-radius: 1.5rem;
  align-items: center;
  justify-content: space-evenly;
}


.categoriasNav {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  color: rgb(255, 255, 255);
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.itemNav {
  list-style-type: none;
  text-decoration: none;
  cursor: pointer;
  border-right: solid 0.1rem;
  padding-right: 3.8rem;
}

.itemNav:last-child {
  border-right: none;
  padding-right: 0;
}

.navLink {
  text-decoration: none;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.carrito {
  display: flex;
  height: 2.5rem;
  width: 3.5rem;
  background-color: yellowgreen;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(0, 0, 0);
}

.interiorCarrito {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 0.3rem;
  color: black;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url(fondofinal.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.parrafo {
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  height: 100%;
  width: 80%;
  justify-content: center;
  align-items: center;
  font-size: larger;
  background-color: rgb(155, 155, 155);
  padding: 2rem;
  margin-top: 5rem;
  margin-bottom: 100%;
  border-radius: 1rem 0 1rem 0;
}

.seccionNavBar {
  display: flex;
  height: 20%;
  width: 100%;
  min-width: 30%;
  justify-content: center;
}

.seccionItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.restar {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  background-color: grey;
  color: white;
  margin: 0.5rem;
  cursor: pointer;
  border: none;
  font-size: large;
}

.restar:hover {
  background-color: rgb(201, 201, 201);
}

.comprar {
  height: 3rem;
  width: 9rem;
  border-radius: 1rem;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: grey;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
}

.comprar:hover {
  background-color: rgb(201, 201, 201);
}

.finalizar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 3rem;
  width: 14rem;
  border-radius: 1rem;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: grey;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
}

.finalizar:hover {
  background-color: rgb(201, 201, 201);
}

.contadorContenedor {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  height: 100%;
  width: 100%;
  margin-top: 1rem;
}

.contador {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 70%;
  margin: auto;
  gap: 1rem;
}

.contenedoresIndividualesItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  background-color: rgb(255, 255, 255);
  height: auto;
  Width: 22rem;
  border-radius: 1rem;
  color: rgb(0, 0, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: rgb(204, 204, 204) solid 0.1rem
}

.contenedoresIndividualesItem2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.imagenes {
  height: 10rem;
  width: 13rem;
  margin: 0.5rem;
}

.nombreItem {
  text-align: center;
  margin: 0.5rem;
}

.precioItem {
  text-align: center;
  margin: 0.5rem;
}

.descripciónItem {
  height: 8rem;
  width: 16rem;
  font-size: 0.8rem;
}

.btnItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 100%;
  border-radius: 0.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0.3rem;
  background-color: grey;
  font-size: 1.2rem;
  cursor: pointer;
}

.btnVaciarCart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 18rem;
  border-radius: 0.2rem;
  margin: 1rem 2rem 1rem 2rem;
  border: none;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0.3rem;
  background-color: rgb(0, 89, 255);
  font-size: 1.2rem;
  cursor: pointer;
}

.contenedorCheckOut {
  display: flex;
  flex-direction: column;
}

.seccionDetalleItem {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.contenedorObjeto {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 15% 85%;
  padding: 1rem;
  height: auto;
  width: 40rem;
  background-color: white;
  border-radius: 1rem 0 1rem 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenedorNombreObjeto {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.nombreObjeto {
  padding: 0.5rem;
  font-size: 1.5rem;
  height: auto;
  width: auto;
}

.imagenObjeto {
  height: 13rem;
  width: 18rem;
  border-radius: 1rem 0 1rem 0;
}

.precioObjeto {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1.5rem;
  height: auto;
  width: auto;
  padding: 0.5rem;
  margin: 0.5rem;
}

.botonObjeto {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1rem;
  height: 2rem;
  width: 10rem;
  margin: 0.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.izquierda {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.derecha {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenedorObjetoDetalle {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 15% 60% 25%;
  margin: 5rem auto 15rem auto;
  padding: 1rem;
  height: auto;
  width: 40rem;
  background-color: white;
  border: rgb(204, 204, 204) solid 0.1rem;
  border-radius: 1rem 0 1rem 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contenedorObjetoCheckout {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 5rem;
  padding: 1rem;
  height: 20rem;
  width: 40rem;
  background-color: white;
  border-radius: 1rem 0 1rem 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fondoFormulario {
  display: grid;
  background-image: url(contacto.jpg);
  background-position: center;
  background-size: cover;
  height: 25rem;
  width: 45rem;
  border-radius: 1rem;
  margin-top: 5rem;
  margin-bottom: 100%;
}

.formularioContacto {
  display: grid;
  background: transparent;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  width: 50%;
  height: 15rem;
  margin: auto;
  padding: 1.5rem;
  border-radius: 0.5rem;
  position: relative;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.botFormulario {
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 0.2rem;
  border-radius: 0.2rem;
  border-style: none;
  box-shadow: 0.225rem 0.225rem 0.625rem;
  margin: 0.625rem;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.botonesFormularioUbicacion {
  text-align: center;
  padding: 1rem 0 1rem 0;
}

.botFormulario:hover {
  background-color: #5d7185;
}

.agregadosCart {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  max-width: 66rem;
  height: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: transparent;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: 1;
}

.contenedorDetalleItem {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  margin: 1rem;
}

.contenedorSumaTotal {
  display: flex;
  align-items: flex-end
}

.sumaTotal {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: yellowgreen;
  height: auto;
  max-height: 3rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
  margin-right: 1rem;
  border-radius: 0.2rem;
}

.contenedorBotonesCarrito {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedorModal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2;
}

.contenidoModal {
  width: 25rem;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 0.5rem;
}

.h2ContenidoModal {
  text-align: center;
  margin: 1rem;
}

.contenedorBotonModal {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 50%;
  margin-top: auto;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.contenedorCarritoVacio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenedorInputs {
  margin-left: 0.2rem;
}

.etiquetaFormulario {
  margin-left: 0.2rem;
  margin-bottom: 0.2rem;
}

.inputFormulario {
  display: flex;
  align-items: flex-end;
  margin: 0.2rem;
}

.botonCheckOut {
  width: 10.563rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  border: none;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0.3rem;
  background-color: grey;
  font-size: 1.2rem;
  margin: 1rem auto;
  cursor: pointer;
}

.small {
  color: red;
  margin: 0.2rem;
}