* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nombreTienda {
  font-style: normal;
  text-align: center;
  padding: 1.25rem 0 1.25rem 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  background: linear-gradient(to top, #ccc9dc 25%, black);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.contenedorNav {
  display: flex;
  margin-top: 2rem;
  background-color: rgb(54, 54, 54);
  width: 80%;
  height: 3rem;
  border-radius: 1.5rem;
  align-items: center;
  justify-content: space-evenly;
}


.categoriasNav {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  color: rgb(255, 255, 255);
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.itemNav {
  list-style-type: none;
  cursor: pointer;
  border-right: solid 0.1rem;
  padding-right: 3.8rem;
}

.itemNav:last-child {
  border-right: none;
  padding-right: 0;
}

.carrito {
  display: flex;
  height: 2rem;
  width: 3.5rem;
  background-color: grey;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  border: solid 0.15rem crimson;
}


.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: flex-start;
  align-items: center;
  background-color: grey;

}


/* .parrafo {
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  height: auto;
  width: auto;
  justify-content: center;
  align-items: center;
  font-size: larger;
  background-color: rgb(54, 54, 54);
  padding: 1rem;
  border-radius: 0.5rem;

} */

.seccionNavBar {
  display: flex;
  height: 20%;
  width: 100%;
  justify-content: center;
}

/* .seccionTexto {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 100%;
  justify-content: center;
  align-items: center;
} */

.seccionCincoItems {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 100%;
  justify-content: center;
  align-items: center;

}


/* 
.restar {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  background-color: grey;
  margin: 0.5rem;
  border: solid red 0.15rem;
  cursor: pointer;
}

.restar:hover {
  background-color: rgb(201, 201, 201);
}


.agregar {
  height: 3rem;
  width: 5rem;
  border-radius: 1rem;
  background-color: grey;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: solid red 0.15rem;
  cursor: pointer;

}

.agregar:hover {
  background-color: rgb(201, 201, 201);
}

.contador {
  display: flex;
  flex-direction: column;
  align-items: center;

} */

.contenedoresIndividualesItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem;
  background-color: rgb(54, 54, 54);
  height: 13rem;
  Width: 12rem;
  border-radius: 1rem;
  color: white;
}

/* .item {
  display: flex;
  justify-content: center;
  height: 10rem;
  width: 12rem;
} */

.imagenes {
  height: 6.5rem;
  border-radius: 1rem 0rem 1rem 0rem;
  width: 100%;
}

.nombreItem {
  text-align: center;
  margin: 0.5rem;

}

.precioItem {
  text-align: center;
  margin: 0.5rem;
}

.btnItem {
  height: auto;
  width: 5rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
}

.contenedorObjeto {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 90%;
  padding: 1rem;
  height: 20rem;
  width: 40rem;
  background-color: beige;
  border-radius: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenedorNombreObjeto {
  width: 100%
}

.nombreObjeto {
  font-size: 1.5rem;
  margin-left: 10rem;
  height: 2rem;
  width: 22rem;
}

.imagenObjeto {
  height: 13rem;
  width: 18rem;
}

.precioObjeto {
  font-size: 2rem;
  height: 3rem;
  width: 8rem;
  padding: 0.5rem;
  margin: 0.5rem;

}

.descripcionObjeto {
  font-size: 1rem;
  height: 10rem;
  width: 15rem;
  padding: 0.5rem;
  margin: 0.5rem;

}


.botonObjeto {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1rem;
  height: 2rem;
  width: 10rem;
  margin: 0.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.izquierda {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

}

.derecha {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}